.text-center {
    text-align: center;
}

.numbers {
    font-family: JelleeBold,ui-rounded
}

.numberInput {
    width: 3em;
    background-color: transparent;
    color: inherit;
    border-width: 1px;
    padding-right: 0;
    margin-right: 2px;
    vertical-align: middle;
    margin-bottom: 0.2em;
}